package servants

import (
	"gitbus.com/exlab/zim-ms/library/locator"
	"gitbus.com/exlab/zim-ms/library/utils"

	"{{ .PkgName }}/proto/gen/calculator"
)

func newCalculatorApp() *calculator.Calculator {
	comm := locator.MyCommunicator()
	obj  := utils.ObjFrom("kry.calculator.CalculatorObj")
	app  := new(calculator.Calculator)
	comm.StringToProxy(obj, app)
	return app
}