package main

import (
	"github.com/TarsCloud/TarsGo/tars"
	"gitbus.com/exlab/zim-ms/library/logus"
	"{{ .PkgName }}/proto/gen/calculator"
	"{{ .PkgName }}/servants"

	_ "{{ .PkgName }}/internal/debug"
)

func init() {
	logus.SetLevel(logus.LevelDebug)
}

func main() {
	app := new(calculator.Calculator)
	srv := servants.NewCalculator()
	cfg := tars.GetServerConfig()
	obj := cfg.App + "." + cfg.Server + ".CalculatorObj"
	app.AddServantWithContext(srv, obj)
	tars.Run()
}
