<tars>
        <application>
                <server>
                        app=kry
                        server=calculator
                        local=tcp -h 127.0.0.1 -p 10027 -t 30000
						logpath=/tmp
                        <kry.calculator.CalculatorObjAdapter>
                                allow
                                endpoint=tcp -h 127.0.0.1 -p 10028 -t 60000
                                handlegroup=kry.calculator.CalculatorObjAdapter
                                maxconns=200000
                                protocol=tars
                                queuecap=10000
                                queuetimeout=60000
                                servant=kry.calculator.CalculatorObj
                                shmcap=0
                                shmkey=0
                                threads=1
                        </kry.calculator.CalculatorObjAdapter>
                </server>
        </application>
</tars>
