package routes

import (
	. "github.com/alimy/mir/v2"
	. "github.com/alimy/mir/v2/engine"
)

func init() {
	AddEntry(new(Calculator))
}

// Calculator a simple calculator
type Calculator struct {
	Add Get `mir:"/add/:lhs/:rhs"`
	Sub Get `mir:"/sub/:lhs/:rhs"`
}
